/*Page menu*/
.article__link {
    background : #31437F;
    color: white;
    align-items: center;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    width: 115px;
    height: 42px;
    border-radius: 16px;
    vertical-align: middle;
    }

.article__imageLink {
    width: 241px;
    height: 273px;
}