.pageArticle__paragraphe {
    margin-bottom: 45px;
    
}

.internLink {
    color: #587DCA;
}

.group {
    display: flex;

}

.pageArticle__chapo {
color: white;
display: flex;
flex-direction: column;
align-items: flex-start;
padding-right: 17px;
padding-left: 17px;


height: auto;
left: 31px;
top: 472px;

background: #587DCA;
border-radius: 25px;
margin-bottom: 29px;

}

.pageArticle__chapoText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
   
    color: #FFFFFF;
    



}



.pageArticle__mainImage {
max-width: 100%;
left: 0px;
top: 0px;
border-radius: 20px;


}

.pageArticle__image {
    max-width: 100%;
}

.pageArticle__imageGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageArticle__imageSpecial { 
    max-width: 100%;
    height: 96px;
}

.image__block {
    display: flex;
}

.pageArticle__quote {
background: #31437F;
padding-top: 11px;
padding-bottom: 11px;
padding-left: 15px;
padding-right: 15px;
margin: 0px;

font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 13px;
line-height: 110%;

border-radius: 20.5px;


color: white;

}

.pageArticle__title {
    /* Heading 2 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 110%;
/* or 28px */


/* Infinity */

color: #000000;
    
}

.pageArticle__titleGroup {
    display: flex;
    margin-bottom: 12px;
    margin-top: 14px;
}

.pageArticle__titleSpecial {
   margin-right: 14px;
       /* Heading 2 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 110%;
/* or 28px */


/* Infinity */

color: #000000;
}

.pageArticle__sousTitre {
   /* Heading 3 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 100%;
/* identical to box height, or 20px */


color: #000000;

}

.pageArticle__text {
align-items: center;
font-size: 13;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 160%;
/* or 21px */

flex: none;
order: 0;
flex-grow: 0;

}

.pageArticle__music {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    
}

.pageArticle__musicIcon {
    background-color: #EFF1ED;
    border-radius: 100%;
   
    
}

.pageArticle__musicQuote {
    background-color: #EFF1ED;
    color: #31437F;
    border-radius: 25px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 9px;
    padding-bottom: 9px;

/* Small Text */

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 110%;
/* or 12px */

/* Starry */
color: #31437F;

}

.pageArticle__link {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 160%;
/* identical to box height, or 21px */

text-decoration-line: underline;

/* Dream */

color: #587DCA;
}

.pageArticle__largeImage {
    max-width: 100%;

}

.pageArticle__grandeImage {
    max-width: 100%;

}

.pageArticle__LongImage {
    max-width: 100%;
    width: 130px;
    border-radius: 16px;
    height: 181px;
}

.pageArticle__imageFacteurCheval {
    max-width: 100%;
    height: 167px;
}

.pageArticle__textFacteurCheval {


    align-items: center;
font-size: 13;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 160%;
/* or 21px */


order: 0;
flex-grow: 0;

}

.frise {
    background: #EFF1ED;
    border-radius: 25px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-bottom: 1px;

}

.pageArticle_friseItem {
    background: white;
    border-radius: 25px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 33px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
    
}


.pageArticle__friseImage {
    display: flex;
    justify-content: flex-start;
    border-radius: 25px;
    position: relative;
    height: 130px;


}

.pageArticle__friseNom {
    /* BUTTON */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 160%;
/* or 16px */

letter-spacing: 0.1em;
text-transform: uppercase;


}

.pageArticle__friseLieu {
    /* Small Text */

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 110%;
/* or 12px */



}

.pageArticle__friseDate {
    /* Small Text */

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 110%;
/* or 12px */
margin-block-start: -7px;



}

.line {
    border-left: 9px solid #31437F;
 
  height: 767px;
   
    margin-left: 73px;
    position: absolute;
    z-index: 0;
}




.pageArticle__filmographie {
    background: #EFF1ED;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
    padding-bottom: 20px;

    
}

.pageArticle__filmographieSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.pageArticle__filmographieItem {
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    align-items: center;
   
    
    

height: 192px;
width: 110px;
left: 13px;
top: 20px;
margin-bottom: 19px;


}
  
    



.pageArticle__filmographieImage {
    max-width: 100%;
    border-radius: 12px;
    width: 97px;
}

.pageArticle__filmographieText {
    padding-left: 6px;
    padding-right: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.pageArticle__filmographieNom {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    /* or 11px */
    

}

.pageArticle__filmographieDate {
    /* Small Text */
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 110%;
/* or 12px */
color: #000000;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.extrait {
    background : #31437F;
    color: white;
    align-items: center;
    text-align: center;
    display: inline-block;
    text-decoration: none;

    height: 42px;
    border-radius: 16px;
    vertical-align: middle;
    margin-top: 7px;
    margin-bottom: 27px;
    justify-content: center;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    text-transform: uppercase;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 160%;


}

.extrait__text {
    background: #587DCA;
    border-radius: 25px;

}