/*POUR TOUS LES ARTICLES*/

/*Titre de l'article*/
.pageArticle__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 110%;
    color: var(--infinity);
}

/*Sous-titre d'article*/
.pageArticle__sousTitre {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--infinity);
}

/*Texte d'article*/
.pageArticle__text {
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    flex: none;
    order: 0;
    flex-grow: 0;

}

/*Lien externe à la fin de l'article*/
.pageArticle__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    text-decoration-line: underline;
    color: var(--dream);
}


/*Marges pour espacer chaque paragraphe de texte*/
.pageArticle__paragraphe {
    margin-bottom: 45px;
    
}

/*Lien interne vers le glossaire*/
.internLink {
    color: var(--dream);
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

/*Facteur Cheval, partie texte et image transparente*/
.group {
    display: flex;
}

/*Chapo d'article*/
.pageArticle__chapo {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 17px;
    padding-left: 17px;
    height: auto;
    left: 31px;
    top: 472px;
    background: var(--dream);
    border-radius: 25px;
    margin-bottom: 29px;

}

/*Texte à l'intérieur du chapo*/
.pageArticle__chapoText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: var(--light);
}



/*Image principale de l'article*/
.pageArticle__mainImage {
    max-width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 20px;
}

/*Image de l'article sans réglage spécifique*/
.pageArticle__image {
    max-width: 100%;
    border-radius: 20px;
}

/*___________________________________________________________________________________________________________________________________________*/

/*IMAGES ET GROUPES D'IMAGES - Article : A LA DECOUVERTE D'OEUVRES DE SCENOGRAPHES*/

/*Groupe titre spécial et mini image*/
.pageArticle__titleGroup {
    display: flex;
    margin-bottom: 12px;
    margin-top: 14px;
}

/*Titre spécial aligné à une mini image*/
.pageArticle__titleSpecial {
    margin-right: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 110%;
    color: var(--infinity);
 }

 /*Image à coté du titre spécial*/
.pageArticle__imageSpecial { 
    max-width: 100%;
    height: 96px;
    border-radius: 20px;
}

/*Groupe d'images dans la partie Festival Malmo*/
.pageArticle__malmoGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

/*Première image - Malmo Festival*/
.pageArticle__malmoFestivalLongImage {
    width: 148px;
    border-radius: 20px;
 }

/*Groupe de deux images alignées à droite d'une image plus longue - Malmo Festival*/
.pageArticle__malmoFestivalImagesGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/*Images à l'intérieur de ce groupe*/
.pageArticle__malmoFestivalImages {
    width: 154px;
    border-radius: 20px;
 }




/*Espacement des deux images */
.pageArticle__realLifeAtWorkGroup {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

/*Groupe de 4 images carrées de scénographies*/
.pageArticle__4ScenographGroup {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 20px;
}

/*Div pour aligner en colonnes de 2 images*/
.pageArticle__2ScenographGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/*Image carrée*/
.pageArticle__squareImage {
    border-radius: 25px;
    max-width: 100%;
}




/*___________________________________________________________________________________________________________________________________________*/



/*ETRE (VRAIMENT) LIBRE DE SON DESTIN*/

/*Citation*/
.pageArticle__quote {
    background: var(--starry);
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    border-radius: 20.5px;
    color: var(--light);

}


/*___________________________________________________________________________________________________________________________________________*/


/*LET GO DE SAM RIVERA, LE PASSE SOMBRE D'UNE VIE*/

/*Groupe avec icone de musique et citations de paroles*/
.pageArticle__music {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    gap: 16px;
    
}

/*Icone de musique*/
.pageArticle__musicIcon {
    background-color: var(--moon);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 16px;
}

/*Citation de paroles*/
.pageArticle__musicQuote {
    background-color: var(--moon);
    color: var(--starry);
    border-radius: 25px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 110%;
    color: var(--starry);
}


/*Images larges de l'article*/
.pageArticle__largeImage {
    max-width: 100%;
    border-radius: 20px;
}

/*Image plus grande de l'article*/
.pageArticle__grandeImage {
    max-width: 100%;
    border-radius: 20px;
}





/*PHENOMENE DE L'ARCHITECTURE NAIVE : LE PALAIS IDEAL DU FACTEUR CHEVAL*/


/*Groupe de texte et d'image PNG*/
.pageArticle__palaisIdealGroup {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-direction: column;
}

/*Image PNG Transparente*/
.pageArticle__imageFacteurCheval {
    max-width: 100%;
    height: 167px;
}

/*Texte à coté de l'image*/
.pageArticle__textFacteurCheval {
    align-items: center;
    font-size: 13;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    order: 0;
    flex-grow: 0;
}



/*FRISE DE LIEUX SIMILAIRES*/

/*Frise*/
.frise {
    background: var(--moon);
    border-radius: 25px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-bottom: 1px;

}

/*Block d'un item de la frise*/
.pageArticle_friseItem {
    background: var(--light);
    border-radius: 25px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 33px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
}

/*Image item*/
.pageArticle__friseImage {
    display: flex;
    justify-content: flex-start;
    border-radius: 25px;
    position: relative;
    height: 130px;
}

/*Nom item*/
.pageArticle__friseNom {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/*Lieu item*/
.pageArticle__friseLieu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 110%;
}

/*Date item*/
.pageArticle__friseDate {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 110%;
    margin-block-start: -7px;
}

/*Ligne d'arrière plan*/
.line {
    border-left: 9px solid var(--starry);
    height: 767px;
    margin-left: 73px;
    position: absolute;
    z-index: 0;
}


/*___________________________________________________________________________________________________________________________________________*/

/*FILMOGRAPHIE*/


/*Filmographie*/
.pageArticle__filmographie {
    background: var(--moon);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
    padding-bottom: 20px; 
}


/*Item filmographie*/
.pageArticle__filmographieItem {
    background-color: var(--light);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 192px;
    width: 110px;
    left: 13px;
    top: 20px;
    margin-bottom: 19px;
}
  

/*Image film*/
.pageArticle__filmographieImage {
    max-width: 100%;
    border-radius: 12px;
    width: 97px;
}

/*Groupe de texte NOM et DATE du film*/
.pageArticle__filmographieText {
    padding-left: 6px;
    padding-right: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Nom du film*/
.pageArticle__filmographieNom {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
}

/*Date du film*/
.pageArticle__filmographieDate {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 110%;
    color: var(--infinity);
}


/*___________________________________________________________________________________________________________________________________________*/

/*LA VOLEUSE DES TOITS, LE ROMAN AUTO EDITE DE LAURE DARGELOS*/


/*Groupe de 3 images alignées*/
.image__block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/*Groupe de 2 images alignées verticalement à l'intérieur de ce groupe*/
.pageArticle__imageGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    
}

/*2 images carrées à l'intérieur de ce groupe*/
.pageArticle__voleuseDesToitsImage {
    width: 173px;
    height: 163px;
    border-radius: 25px;
}



/*Image longue du marque page Plume de la Voleuse Des Toits*/
.pageArticle__voleuseDesToitsLongImage {
    max-width: 100%;
    width: 130px;
    border-radius: 16px;
}


/*Page extrait*/


/*Bouton pour ouvrir la page extrait*/
.extraitBtn {
    background : var(--starry);
    color: var(--light);
    align-items: center;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    height: 42px;
    border-radius: 16px;
    vertical-align: middle;
    margin-top: 7px;
    margin-bottom: 27px;
    justify-content: center;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 160%;
}

/*Page de l'extrait*/
.extrait {
    background: var(--starry);
    position: fixed;
    place-content: left;
}

/*Texte de l'extrait*/
.extrait__text {
    background: var(--dream);
    border-radius: 25px;
}