/* Footer*/
.footer {
    background-color: #31437F;
    align-items: center;
    color: white;
    

}

/* Logo du footer */
.footer__logo {
    

}

/* Texte du footer */
.footer__text {
    text-align: center;

}

.footer__mentions {
    text-align: left;

}

/* Retour en haut */
.footer__backTop {
    align-content: center;

}

.footer__backTopText {
    text-align: center;

}

/* Liens du footer */
.footer__link {
   color: white;
 
}



/* Réseaux sociaux du footer */
.footer__social {
    fill: white;


}

.footer__icons {
   fill: white;
}
