/* Footer*/
.footer {
    background-color: #31437F;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column; 

    

    

}

/* Logo du footer */
.footer__logo {
    align-content: center;
    left: auto;
    right: auto;
    
    

}

.footer__name {
    /* Small Text */

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 110%;
/* or 12px */

text-align: center;

color: #FFFFFF;

}

/* Texte du footer */
.footer__text {
    text-align: left;
    padding-right: 242px;
    padding-left: 23px;

}

.footer__mentions {
    text-align: left;
    

    /* Small Text */

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 110%;
/* or 12px */


color: #FFFFFF;


}

/* Retour en haut */
.footer__backTop {
    margin-top: 18px;
    display: flex;
    align-content: center;
    background: none;
    border: none;
 
    /* BUTTON */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 160%;
/* or 16px */

letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;

    

}

.footer__backTopImg {

}

.footer__backTopText {
    text-align: center;
    font-style: var(--s-m-a-l-l--t-e-x-t--u-p-p-e-r-c-a-s-e);
    

}

/* Liens du footer */
.footer__link {
   color: white;
 
}



/* Réseaux sociaux du footer */
.footer__social {
    fill: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    


}

.footer__icons {
   fill: white;
   
   
}

.footer__bottom {
   
   
    margin-bottom: -31px;
    height: 95px;
width: 95px;



}

.footer__bottomGroup {
    display: flex;
    
    gap: 24px;
    flex-direction: row;
    padding-bottom: 10px;

}
