

/*AUTRES PROJETS*/

/*Fond spécial*/
.background {
    background-color: var(--dream);
}

/*Main spécifique à cette page pour enlever les marges*/
.otherprojects__main {
    background-color: var(--dream);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    padding-bottom: 30px;
}

.other__projects {
    
}

/*Titre de la page*/
.otherProjects__title {
    color: var(--light);
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    margin-top: 0px;
    padding-top: 30px;
}

/*Item element*/
.otherProjects__item {
    background-color: var(--moon);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 16px;
    margin-left: 38px;
    margin-right: 38px;
}


/*Item nom de site*/
.project__name {
    color: var(--starry);
    margin: 0;
}

/*Item nom d'auteur*/
.project__author {
    color: var(--dream);
    margin: 0;
}

/*Item lien site*/
.otherprojects__links {
    text-decoration: none;
}





/*___________________________________________________________________________________________________________________________________________*/

/*Tire page A PROPOS + GLOSSAIRE*/
.pageTitle__h2 {
    text-align: center;
}


/*___________________________________________________________________________________________________________________________________________*/


/*GLOSSAIRE*/

/*Item glossaire*/
.glossaire__item {
    background: var(--dream);
    border-radius: 20px;
    color: var(--light);
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 13px;
    padding-bottom: 16px;
}

/*Mot à définir*/
.glossaire__mot {
    background: var(--moon);
    color: var(--starry);
    border-radius: 12px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}

/*Définition du mot*/
.glossaire__definition {
    padding-top: 13px;
    text-align: left;
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
}


/*___________________________________________________________________________________________________________________________________________*/


/*A PROPOS*/

.about__logo {
    
}

.about__name {

}

/*Introduction*/
.about__blockIntro {
    background-color: var(--starry);
    border-radius: 25px;
    color: var(--light);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 33px;
}

/*Bloc itation de fin*/
.about__quoteBlock {
    background: var(--moon);
    border-radius: 25px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: var(--starry);
    margin-left: 27px;
    margin-right: 27px;
    margin-top: 37px;
    margin-bottom: 25px;
}

/*Texte citation de fin*/
.about__quote {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    color: var(--starry);
}


/*Logo et nom prénom*/
.about__informations {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--ocean);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 25px;
}



/*Bloc titre 'contactez nous' + formulaire de contact*/
.formulaire {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}

/*Titre 'contactez nous'*/
.form__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 110%;
    color: var(--infinity);
}

/*Formulaire de contact*/
.formulaire__contact {
    color: #B3B3B3;
}

/*Catégories*/
.formulaire__block {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #B3B3B3;
    border-radius: 9px;
    margin-bottom: 21px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

/*Indication pour remplir*/
.label {
    color: #B3B3B3;
}

/*Case pour écrire*/
.input__case {
    border: 1px solid #B3B3B3;
    border-radius: 9px;
    width: 283px;
    height: 42px;
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

/*Bouton envoyer*/
.formulaire__contactSendButton {
    background-color: var(--dream);
    border-radius: 16px;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--light);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--light);
}



/*Alignement ormulaire de contact*/
.contact__form {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
