.chapo {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 17px;

position: absolute;
width: 313px;
height: 140px;
left: 31px;
top: 472px;

background: #587DCA;
border-radius: 25px;

}