.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #587DCA;
    display: grid;
    place-content: center;
}


.noscroll,
.noscroll body {
overflow: hidden;
}


.noscroll,
.noscroll body {
  overflow: hidden;
}

.menu__link {
text-decoration: none;
color: white;
}

.menu__item {
  list-style-type: none;
}

.article__link {
background : #31437F;
color: white;
align-items: center;
text-align: center;
display: inline-block;
text-decoration: none;
/* pas sur*/
width: auto;
height: auto;
}
