/*Menu*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #587DCA;
    display: grid;
    place-content: left;
}

/*No scroll*/
.noscroll,
.noscroll body {
overflow: hidden;
}


/*Liens du menu vers les articles*/
.menu__link {
text-decoration: none;
color: white;
}

.menu__item {
  list-style-type: none;
}


