/*Menu*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #587DCA;
    display: grid;
    place-content: left;
}

.menu__close {

}

/*No scroll*/
.noscroll,
.noscroll body {
overflow: hidden;
}


/*Liens du menu vers les articles*/
.menu__link {
text-decoration: none;
color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 100%;
}

.menu__item {
  list-style-type: none;
  margin-bottom: 26px;
  
}

.articles__section {
  margin-top: 47px;
  margin-bottom: 47px;

}

.other__section {

}

.menu__buttons {
  background : var(--light);
  color: #31437F;
  align-items: center;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  width: 129px;
  height: 42px;
  border-radius: 9px;
  vertical-align: middle;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  

}

.menu__buttonsText {
  text-decoration: none;
  color: #31437F;
  font-style: var(--b-u-t-t-o-n) ;
  
}

.menu__closeBtn {
  position: absolute;
  left: 0;
  right: 0;

}

.menu__close {
  position: absolute;
  left: 0;
  right: 0;

}
