.noscroll,
.noscroll body {
  overflow: hidden;
}

.menu__link {
text-decoration: none;
color: white;
}

.menu__item {
  list-style-type: none;
}

.article__link {
background : #31437F;
color: white;
align-items: center;
text-align: center;
display: inline-block;
text-decoration: none;
/* pas sur*/
width: auto;
height: auto;


}

/* Vendors */

/* Utils */

/* Base */

/* Layout */
@import "layout/header.css";
@import "footer.css";

/* Components */
@import "components/menu.css";
